<app-main-search></app-main-search>
<div class="offers">
    <div class="container">


        <div class="row">
            <div class="col text-center">
                <p class="lead fs-3 fw-bold" style="text-transform: capitalize;">The best offers with hotels</p>
            </div>
            <form class="col d-flex justify-content-center" role="search" enctype="multipart/form-data" >
                <div class="input-group mb-3 w-50 ">
                  <span class="input-group-text" id="basic-addon1">
                    <fa-icon [icon]="faSearch"></fa-icon>
                  </span>
                  <input
                    type="date"
                    class="form-control py-3"
                    placeholder="Search"
                    (input)="getStartDate($event)"
                  />
                </div>

                <div class="input-group mb-3 w-50 ">
                    <span class="input-group-text" id="basic-addon1">
                      <fa-icon [icon]="faSearch"></fa-icon>
                    </span>
                    <input
                      type="date"
                      class="form-control py-3"
                      placeholder="Search"
                      (input)="getEndDate($event)"
                    />
                  </div>

<input [(ngModel)]="timeSlot" placeholder="Select Time Slot" name="timeSlot">
<button (click)="search()">Search</button>
              </form>

        </div>
        <div class="row offers_items">

            <div class="col-lg-6 offers_col" *ngFor="let item of Hotels" >
                <div class="offers_item">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="offers_image_container ">
                                <img src="{{ imagePath }}{{ item.thumbnail }}" class="  img-fluid rounded-start" style="height: 18rem;" alt="..."/>
                                <div class="offer_name"><a href="#">{{item.name}}</a></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <app-item [item]="item"></app-item> 
                            <div class="offers_link fs-4">
                                <a (click)="redirectTo(item, 1,'Hotel',time_slot)" class="text-decoration-underline" style="cursor: pointer;">Reserve a table</a>
                            </div>
                        </div>                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

