<div class="container text-center mt-5">
  <h1 class="fw-bold fs-3 name">Explore More</h1>
  <div class="container text-center c">
    <ngb-carousel class="w-100" [showNavigationArrows]="true" [showNavigationIndicators]="false">
      <ng-template ngbSlide *ngFor="let trip of data['Trips']; let i = index">
        <div class="row justify-content-center mb-5">
          <div class="col-lg-3 mx-2 my-5">
            <app-desc-card [trip]="data['Trips'][i]"></app-desc-card>
          </div>
          <div class="col-lg-3 mx-2 my-5 d-none d-lg-block">
            <app-desc-card [trip]="data['Trips'][i + 4]"></app-desc-card>
          </div>
          <div class="col-lg-3 mx-2 my-5 d-none d-lg-block">
            <app-desc-card [trip]="data['Trips'][i + 7]"></app-desc-card>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  </div>

<br>
<br>
<div class="card align-items-center mx-auto" style="max-width: 60rem;">
  <img src="https://media.worldnomads.com/Explore/north-africa/egypt-5-things-social.jpg" class="card-img-top" alt="...">
  <div class="card-body text-light">
    <p class="card-text fs-5">Get special offers and more from Traveler</p>
    <p class="card-text fs-5">Subscribe to see secret deals; prices drop the moment you sign up!</p>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Email Address">
      <span class="input-group-text">Subscribe</span>
    </div>
  </div>
</div>


