<button
  *ngIf="isAdmin()"
  type="button"
  class="btn btn-primary my-3"
  [routerLink]="[
    '/dashboard/admin',
    { outlets: { details: ['add-destination'] } }
  ]"
  routerLinkActive="active-link"
>
  Add New Destination
</button>
<button
  *ngIf="isVendor()"
  type="button"
  class="btn btn-primary my-3"
  [routerLink]="[
    '/dashboard/vendor',
    { outlets: { details: ['add-destination'] } }
  ]"
  routerLinkActive="active-link"
>
  Add New Destination
</button>
<div class="row">
  <h3 class="fs-4 mb-3">All Destinations</h3>
  <div class="table-responsive">
    <table class="table bg-white rounded shadow-sm table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Thumbnail</th>
          <th scope="col">Rating</th>
          <th scope="col">Creator Id</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let destination of Destinations['destinations']['data'];
            let i = index
          "
        >
          <th scope="row">{{ destination.id }}</th>
          <td>{{ destination.name }}</td>
          <td>{{ destination.description }}</td>
          <td>
            <img
              src="{{ imagePath }}{{ destination.thumbnail }}"
              alt="{{ destination.thumbnail }}"
            />
          </td>
          <td>{{ destination.rating }}</td>
          <td>{{ destination.creator_id }}</td>
          <td>
            <button
              *ngIf="isAdmin()"
              type="button"
              class="btn btn-outline-warning btn-sm mx-1"
              [routerLink]="[
                '/dashboard/admin',
                { outlets: { details: 'edit-destination/' + destination.id } }
              ]"
              routerLinkActive="active-link"
            >
              Edit
            </button>
            <button
              *ngIf="isVendor()"
              type="button"
              class="btn btn-outline-warning btn-sm mx-1"
              [routerLink]="[
                '/dashboard/vendor',
                { outlets: { details: 'edit-destination/' + destination.id } }
              ]"
              routerLinkActive="active-link"
            >
              Edit
            </button>

            <button
              type="button"
              class="btn btn-outline-danger btn-sm mx-1"
              (click)="delete(destination.id, i)"
            >
              Delete
            </button>

            <button
              *ngIf="isAdmin()"
              type="button"
              class="btn btn-outline-info btn-sm mx-1"
              [routerLink]="[
                '/dashboard/admin',
                { outlets: { details: 'show-destination/' + destination.id } }
              ]"
              routerLinkActive="active-link"
            >
              Show
            </button>
            <button
              *ngIf="isVendor()"
              type="button"
              class="btn btn-outline-info btn-sm mx-1"
              [routerLink]="[
                '/dashboard/vendor',
                { outlets: { details: 'show-destination/' + destination.id } }
              ]"
              routerLinkActive="active-link"
            >
              Show
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <button
        class="page-link"
        aria-label="Previous"
        (click)="onPageChange(currentPage - 1)"
        [disabled]="currentPage === 1"
      >
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>
    <li
      class="page-item"
      *ngFor="let button of pageButtons"
      [class.active]="button === currentPage"
    >
      <button class="page-link" (click)="onPageChange(button)">
        <span aria-hidden="true">{{ button }}</span>
      </button>
    </li>

    <li class="page-item">
      <button
        class="page-link"
        aria-label="Next"
        (click)="onPageChange(currentPage + 1)"
        [disabled]="currentPage === Destinations.last_page"
      >
        <span aria-hidden="true">&raquo;</span>
      </button>
    </li>
  </ul>
</nav>
