<app-main-search ></app-main-search>
<div class="main-part">
     <div class="row pt-5 ">
      <div class="col text-center py-4">
          <p class="lead fs-3 fw-bold " style="text-transform: capitalize; color: #0b0b58;">The best offers with Destinations</p>
      </div>
    </div>

  <section class="unique-feature-area section-gap " style=" margin-left: 0px !important;" id="unique">
    <div class="container">
      <div class="row  d-flex justify-content-center">
        <div class="menu-content pb-60 col-lg-10 mt-4">
       
        </div>
      </div>						
      <div class="row">
        <div class="col-lg-3 col-md-6 " *ngFor="let item of Destinations">
          <div class="single-unique-product " style="border:3px solid #fd7e14;">
            <!-- <app-item [item]="item"></app-item>  -->

            <img class="img-fluid " src="{{ imagePath }}{{ item.thumbnail }}" alt="">
            <div class="desc my-3">
              <h4>
                {{item.name}}
              </h4>
              <a class="text-uppercase primary-btn mb-3" style="background-color: #fd7e14; "
              (click)="viewDetails(item,item.name)"
              >See More Details</a>
            </div>
          </div>
        </div>
    
 
																	
      </div>
    </div>	
  </section>
  <div class="text-center" >
    <nav aria-label="Page navigation example d-flex align-items-center justify-content-center  ">
      <ul class="pagination "style="margin: auto;justify-content: center;">
        <li class="page-item ">
          <button
            class="page-link p-2"
            aria-label="Previous"
            (click)="onPageChange(currentPage - 1)"
            [disabled]="currentPage === 1"
          >
            <span aria-hidden="true">&laquo;</span>
          </button>
        </li>
        <li
          class="page-item"
          *ngFor="let button of pageButtons"
          [class.active]="button === currentPage"
        >
          <button class="page-link" (click)="onPageChange(button)">
            <span aria-hidden="true">{{ button }}</span>
          </button>
        </li>
    
        <li class="page-item">
          <button
            class="page-link  p-2"
            aria-label="Next"
            (click)="onPageChange(currentPage + 1)"
            [disabled]="currentPage === Destinations.last_page"
          >
            <span aria-hidden="true">&raquo;</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
