
<ng-template #content  let-modal> 
    <!--start modal header-->
    <div class="modal-header"> 
        <h4 class="modal-title w-100 text-center" 
            id="modal-basic-title"> 
           <button  (click)="showform()" class="btn btn-primary">Sign In </button> | 
           <button  (click)="showform()" class="btn btn-success">Sign Up</button>
        </h4> 
        <button type="button" class="close btn btn-warning"
                aria-label="Close" (click)= 
                "modal.dismiss('Cross click')">
            <span aria-hidden="true"> × </span> 
        </button> 
    </div> 
    <!--end modal header-->

    <!--start modal body-->
    <div class="modal-body"> 

        <!--start login form-->
        <form [formGroup]="userlogin" [hidden]="!isUserLogin" (ngSubmit)="submitteddata(userlogin)" class=" p-5 border border-primary">
            
            <!--start email input-->
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="email" formControlName="email" required >
              <div class="alert alert-danger" [hidden]="loginemail?.valid || loginemail?.untouched">
                <small *ngIf="loginemail?.errors?.['required']">email is required</small>
                <small *ngIf="loginemail?.errors?.['email']">email is Not Valid</small>
              </div>
            </div>
            <!--end email input-->

            <!--start password input-->
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" required name="password">
              <div class="alert alert-danger" [hidden]="loginpassword?.valid || loginpassword?.untouched">
                <small *ngIf="loginpassword?.errors?.['required']">password is required</small>
                <small *ngIf="loginpassword?.errors?.['maxlength']">password max length is 9 Characters</small>
              </div>
            </div>
            <!--end password input-->

            <button type="submit" [disabled]="userlogin.invalid" class="btn btn-primary">Sign In</button>            
                <div>{{userlogin.value | json}}</div>
                <div>{{userlogin.errors | json}}</div>
                <div> {{loginpassword?.errors | json }}</div>
        </form>
        <!--end login form-->

        <!--start register form-->
        <form [formGroup]="userregister" [hidden]="isUserLogin" (ngSubmit)="submitteddata(userregister)" class=" p-5 border border-success">
            
            <!--start email input-->
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="email" formControlName="email" required >
                <div class="alert alert-danger" [hidden]="registeremail?.valid || registeremail?.untouched">
                <small *ngIf="registeremail?.errors?.['required']">email is required</small>
                <small *ngIf="registeremail?.errors?.['email']">email is Not Valid</small>

                </div>
            </div>
            <!--end email input-->

            <!--start username input-->
            <div class="mb-3">
                <label for="exampleInputusername" class="form-label">username</label>
                <input type="text" class="form-control" id="exampleInputusername" name="name" formControlName="name" required>
                <div class="alert alert-danger" [hidden]="registername?.valid || registername?.untouched">
                  <small *ngIf="registername?.errors?.['required']">username is required</small>
                </div>
              </div>
            <!--end username input-->

            <!--start password input-->
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" required name="password">
                <div class="alert alert-danger" [hidden]="registerpassword?.valid || registerpassword?.untouched">
                    <small *ngIf="registerpassword?.errors?.['required']">password is required</small> <br>
                    <small *ngIf="registerpassword?.errors?.['maxlength']">password max lenght  is 9 characters</small> <br>
                </div>
            </div>
            <!--end password input-->
            
            <!--start confirm password input-->
            <div class="mb-3">
                <label for="exampleInputconfirmpassword" class="form-label">confirmpassword</label>
                <input type="password" class="form-control" id="exampleInputconfirmpassword" name="confirmpassword" formControlName="confirmpassword" >

                <div class="alert alert-danger" [hidden]="registerconfirmpassword?.valid || registerconfirmpassword?.untouched">
                    <small *ngIf="registerconfirmpassword?.errors?.['required'] && registerconfirmpassword?.touched">confirmpassword is required</small> <br>
                    <small *ngIf="registerconfirmpassword?.errors?.['maxlength']">password max lenght  is 9 characters</small> 
                </div>
                <div class="alert alert-danger" *ngIf="userregister?.errors?.['passwordnotidenticalconfirm'] && registerconfirmpassword?.touched">
                    {{userregister.errors?.['passwordnotidenticalconfirm']}}
                </div>
            </div>
            <!--end confirm password input-->


            <!--start city input-->
            <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <select class="form-select" id="city" name="city" formControlName="city" aria-label="Default select example">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <div class="alert alert-danger" [hidden]="registercity?.valid || registercity?.untouched">
                    <small *ngIf="registercity?.errors?.['required']">city is required</small>
                </div>
            </div>

            <!--start city input-->

            <button type="submit" [disabled]="userregister.invalid" class="btn btn-success">Sign Up</button>            
                <div>{{userregister.value | json}}</div>
                <div>{{userregister.errors | json}}</div>
        </form>
        <!--end register form-->

    </div> 
    <!--end modal body-->

</ng-template> 
  


<!--
    <button (click)="handleLogin(content)" class="btn btn-lg btn-outline-primary"> 
Login</button> 

<button class="btn btn-lg btn-outline-primary" 
    (click)="open(content)"> 
    Popup using Angular and Bootstrap 
</button> 
-->

