<app-main-search></app-main-search>
<div class="offers">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p class="lead fs-3 fw-bold" style="text-transform: capitalize;">The best offers with trips</p>
            </div>
        </div>
        <div class="row offers_items">

            <div class="col-lg-6 offers_col" *ngFor="let item of Trips" >
                <div class="offers_item">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="offers_image_container ">
                                <img src="{{ imagePath }}{{ item.thumbnail }}" class="  img-fluid rounded-start" style="height: 18rem;" alt="..."/>
                                <div class="offer_name"><a href="#">{{item.name}}</a></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <app-item [item]="item"></app-item> 
                            <div class="offers_link fs-4">
                                <a (click)="redirectTo(item, 1,'Trip')" class="text-decoration-underline" style="cursor: pointer;">Reserve a table</a>
                            </div>
                        </div>                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
