<section class="media">

      <ng-container *ngFor="let near of city ;let i=index">
          <div class="media d-flex">
            <img *ngIf="near.type=='Trip'" src="{{tripsImagePath}}{{near.thumbnail}}" width="40%" class="img-thumbnail img-fluid" alt="...">
            <img *ngIf="near.type=='Hotel'" src="{{hotelsImagePath}}{{near.thumbnail}}" width="40%" class="img-thumbnail img-fluid" alt="...">
            <img *ngIf="near.type=='Restaurant'" src="{{restaurantsImagePath}}{{near.thumbnail}}" width="40%" class="img-thumbnail img-fluid" alt="...">

              <div class="media-body mt-5 ms-5">
                <h5 class="mt-0 mb-1">{{near.name}}</h5>
                <p [attr.data-content]="near.description" #description >
                  {{near.description | cuttext:near.displayLength || lineofdescription}}.
                </p>
                <span *ngIf="!near.buttonstatus" (click)="change(description,near,$event)" class="text-decoration-underline">Read More  <fa-icon [icon]="faArrowDown"></fa-icon> </span>
                <span *ngIf="near.buttonstatus" (click)="change(description,near,$event)" class="text-decoration-underline">Read Less <fa-icon [icon]="faArrowUp"></fa-icon></span>
                <br>
                <br>
                <div>
                  <app-review-stars [rating]="near.rating"></app-review-stars>
                </div>

                <button class="btn btn-success" (click)="viewDetails(near,near.name)">Details</button>

              </div>
            </div>
      </ng-container>
      

</section>