<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <div class="booking-cta">
                        <h1>Edit your reservation</h1>
                        <p class="fs-4 my-5">
                            Plan your journey through Egypt's rich history and diverse landscapes with ease.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-7">
                    <div class="booking-form">
                        <form>
                            <div class="form-group">
                                <p >Your Destination: 
                                <span class="fw-bold">{{Order.data.service_name}}</span></p>
                                <!-- <input class="form-control" type="text" placeholder="Enter a destination or hotel name"> -->
                            </div>
                            <div class="row">
                                <p class="col-12">
                                  <select (click)="save($event)"
                                    class="form-select"
                                    aria-label="Default select example"
                                  >
                                    <option>Qyt: {{ Order.data.quantity }}</option>
                                    <option
                                      value="{{ x }}"
                                      *ngFor="let x of [0, 1, 2, 3, 4, 5, 6, 7, 8]"
                                    >
                                      <span>{{ x }}</span>
                                    </option>
                                  </select>
                                </p>
                              </div>
              
                            <div class="form-btn">
                                <button class="submit-btn" routerLink="/orders" routerLinkActive="active" >Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
