
  
  
  <!-- Sidebar -->
  <div class="bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
            class="fas fa-user-secret me-2"></i>Admin</div>
    <div class="list-group list-group-flush my-3">
        <a routerLink="/dashboard/admin" routerLinkActive="active-link"   class="list-group-item list-group-item-action bg-transparent second-text active"><i
                class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
        <a [routerLink]="[{ outlets: { details: ['users'] } }]" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                <i class="fas fa-project-diagram me-2"></i>Users</a>
                <a [routerLink]="[{ outlets: { details: ['destinations'] } }]" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                        <i class="fas fa-project-diagram me-2"></i>Destinations</a>

        <a [routerLink]="[{ outlets: { details: ['trips'] } }]" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                <i class="fas fa-project-diagram me-2"></i>Trips</a>
                <a [routerLink]="[{ outlets: { details: ['restaurants'] } }]" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                        <i class="fas fa-project-diagram me-2"></i>Restaurants</a>
        <a routerLink="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-comment-dots me-2"></i>Hotels</a>
        <a routerLink="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-map-marker-alt me-2"></i>Orders</a>
        <a routerLink="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="fas fa-map-marker-alt me-2"></i>Payements</a>  
        <a routerLink="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="fas fa-map-marker-alt me-2"></i>Offers</a>
        <a routerLink="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="fas fa-map-marker-alt me-2"></i>Events</a>
        <a routerLink="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="fas fa-map-marker-alt me-2"></i>Report</a>
        <a routerLink="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                class="fas fa-power-off me-2"></i>Logout</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->

