<section class="bg-image"
        style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                      alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      

                        <!--start login form-->
                      <form [formGroup]="userlogin" (ngSubmit)="submitUserLogin(userlogin)" class=" p-5 ">
                        
                        <!--start message that come from backend-->
                        <div *ngIf="successsLoginReference!.length >0 " class="alert alert-success">
                            <small >{{successsLoginReference}}</small>   
                        </div>
                        <div *ngIf="errorLoginReference!.length >0 "  class="alert alert-danger">
                            <small >{{errorLoginReference}}</small>
                        </div>
                        <!--end message that come from backend-->

                        <div class="d-flex align-items-center mb-3 pb-1">
                          <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                          <span class="h1 fw-bold mb-0">Logo</span>
                        </div>
      
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
                        
                        <!--start email input-->
                        <div class="form-outline mb-4">
                          <input type="email" id="form2Example17" class="form-control form-control-lg" name="email" formControlName="email"/>
                          <label class="form-label" for="form2Example17">Email address</label>
                          <div class="alert alert-danger" [hidden]="loginemail?.valid || loginemail?.untouched">
                            <small *ngIf="loginemail?.errors?.['required']">email is required</small>
                            <small *ngIf="loginemail?.errors?.['email']">email is Not Valid</small>
                          </div>
                          <div *ngIf="ErrorEmailBackend?.length >0 "  class="alert alert-danger">
                            <ng-container *ngFor="let error of ErrorEmailBackend;let i=index">
                                <small >{{error}}</small><br>
                            </ng-container>
                            </div>
                        </div>
                        <!--end email input-->

                        <!--start password input-->
                        <div class="form-outline mb-4">
                          <input type="password" id="form2Example27" class="form-control form-control-lg" formControlName="password" required name="password" />
                          <label class="form-label" for="form2Example27">Password</label>
                          <div class="alert alert-danger" [hidden]="loginpassword?.valid || loginpassword?.untouched">
                            <small *ngIf="loginpassword?.errors?.['required']">password is required</small>
                            <small *ngIf="loginpassword?.errors?.['maxlength']">password max length is 9 Characters</small>
                          </div>
                          <div *ngIf="ErrorPasswordBackend?.length >0 "  class="alert alert-danger">
                            <ng-container *ngFor="let error of ErrorPasswordBackend;let i=index">
                                <small >{{error}}</small><br>
                            </ng-container>
                            </div>
                        </div>
                        <!--end password input-->

                        <div class="pt-1 mb-4">
                          <button  [disabled]="userlogin.invalid" class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                        </div>
      
                        <a class="small text-muted" routerLink="/request-password-reset">Forgot password?</a>
                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? 
                            <a routerLink="/register" class="fw-bold text-body" style="color: #393f81;">Register here</a>
                        </p>
                            
                        <a class="btn me-1  border border-primary" (click)="loginWithGoogle()" role="button">
                            <img src="https://static.tacdn.com/img2/google/G_color_20x20.png" class="regGoogleIcon" alt="">Continue with Google
                        </a>
                        <a class="btn  border border-primary" (click)="loginWithGithub()">
                            <i class="fab fa-github me-2"></i>Continue with Github
                        </a>
                        <br>
                        <br>
                        <a href="#!" class="small text-muted">Terms of use.</a>
                        <a href="#!" class="small text-muted">Privacy policy</a>
                      </form>
                        <!--end login form-->


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>