<div>
  <div>
    <form [formGroup]="userOrderForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="user_id" class="form-label">User Name</label>
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="user_id"
        >
          <option value="">Select a user</option>
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.name }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="service_type" class="form-label">Service Type</label>
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="service_type"
          (change)="filterService(service.value)"
          #service
        >
          <option value="">Select a Service Type</option>
          <option value="Hotel">Hotel</option>
          <option value="Trip">Trip</option>
          <option value="Restaurant">Restaurant</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="service_id" class="form-label">Service Name</label>
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="service_id"
        >
          <option value="">Select a Service</option>
          <option *ngFor="let service of services" [value]="service.id">
            {{ service.name }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="quantity" class="form-label">Quantity</label>
        <input
          type="text"
          class="form-control"
          id="quantity"
          formControlName="quantity"
          required
        />
      </div>
      <button type="submit" class="btn btn-success">Add</button>
    </form>
  </div>
</div>
