
<div class="invoice-container">
    <div class="invoice-header" style="background-color: #fd7e14;">
        <h1>Invoice</h1>
    </div>

    <div class="invoice-details">
        <div>
            <p><strong>Invoice Number:</strong>  {{invoiceNumber}}</p>
            <p><strong>Invoice Date:</strong> {{ latestOrder[0].created_at | date:'medium' }}</p>
        </div>
        <div>
            <p><strong>Customer Name:</strong> {{userName}}</p>
            <p><strong>Payment Status:</strong> Un Paid</p>
        </div>
    </div>

    <div class="invoice-items d-flex flex-column">
        <div class="item align-items-center" *ngFor="let order of latestOrder ;let i = index">
            <img src="{{imagePaths[order.service_type]}}{{order.service_thumbnail}}" width="200" alt="Product Image">
            <div class="item-details">
                <h4>{{order.service_name | slice:0:5}}</h4>
                <p>Quantity:  {{order.quantity}}</p>
                <p>Discount: EGP{{order.discount}} </p>

            </div>
            <div> <p>EGP{{order.amount}} </p></div>
           
            <div class="col-md-1 text-center d-flex justify-content-center align-items-center  ">
              <a  [routerLink]="['/edit-order/' + order.id ]"
            routerLinkActive="active-link" class="text-decoration-none text-decoration-underline  "
            style="color: #fd7e14;"
              >
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="m-4 bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </a>               
              <a (click)="delete(order.id, i)" class="text-decoration-none text-decoration-underline text-danger" style="cursor: pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg>  
              </a>

            </div>
        </div>

        <!-- Add more items as needed -->

    </div>

    <div class="invoice-total">
        <span><strong>Total:</strong></span>
        <span>EGP{{amountForLatestOrder}} </span>
    </div>

    <div class="invoice-footer">
        <!-- <p>Thank you for your purchase!</p> -->
        <a href="#" class="btn-pay" style="background-color: #fd7e14;" (click)="callPayment()">Pay Now</a>
    </div>
</div>

<div class="container " style="margin: auto ;">



  <section class="news">
    <div class="container">
      <h4>Previous Orders</h4>
      <div class="news_section row  ">
        <div class="news_block col-lg-4 col-md-10 mx-2" style="width: 300px;" *ngFor="let order of Orders.data">
          <figure>     
            <img src="{{imagePaths[order.service_type]}}{{order.service_thumbnail}}" class="img-fluid" style="height: 200px;object-fit: cover;"> 
          </figure>
          <div class="block_top">
            <div class="top_left">    
              <p class="date">Delivered</p>
            </div>
            <div class="top_right">      
              <p class="news_title">{{order.service_name}}</p>
              <div class="news_stats" >
                <div class="autrhor " ><i class="fas fa-user" style="color: #fd7e14;"></i> {{order.quantity}}</div>
                <div class="views"><i class="far fa-eye " style="color: #fd7e14;"></i>EGP{{order.amount}} </div>
                <div class="comments"><i class="far fa-comment" style="color: #fd7e14;"></i>{{ order.created_at | date:'medium' }}</div>
              </div>
            </div>
          </div>
          <div class="block_bottom">
            <p class="news_desc"> {{order.service_description}}</p>
          </div>
        </div>   
      </div>
    </div>
  </section>
  <nav aria-label="Page navigation example d-flex align-items-center justify-content-center ">
    <ul class="pagination ">
      <li class="page-item ">
        <button
          class="page-link p-2"
          aria-label="Previous"
          (click)="onPageChange(currentPage - 1)"
          [disabled]="currentPage === 1"
        >
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>
      <li
        class="page-item"
        *ngFor="let button of pageButtons"
        [class.active]="button === currentPage"
      >
        <button class="page-link" (click)="onPageChange(button)">
          <span aria-hidden="true">{{ button }}</span>
        </button>
      </li>
  
      <li class="page-item">
        <button
          class="page-link  p-2"
          aria-label="Next"
          (click)="onPageChange(currentPage + 1)"
          [disabled]="currentPage === Orders.last_page"
        >
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
    </ul>
  </nav>
  </div>
  
  
  
  
  