<section class="h-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        <div class="card" style="border-radius: 10px; border-color: #fd7e14;border-width:5px ;">
          <div class="card-header px-4 py-5" style="background-color: #fd7e14;">
            <h5 class="text-white mb-0 fs-5 ">Thanks for your Order, <span style=" color: #0b0b58;">{{userName}}</span>!</h5>
          </div>
          <div class="card-body p-4">
             

            <div class="card shadow-0 border mb-4" *ngFor="let order of latestOrder ;let i = index">
              <div class="card-body">         
                <div class="row">
                  <div class="col-md-2">     
                    <img src="{{imagePaths[order.service_type]}}{{order.service_thumbnail}}"
                      class="img-fluid" alt="">
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0">{{order.service_name}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Qty: {{order.quantity}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">{{order.amount}} EGP</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0">{{ order.created_at | date:'medium' }}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <a  [routerLink]="['/edit-order/' + order.id ]"
                  routerLinkActive="active-link" class="text-decoration-none text-decoration-underline text-warning"
                    >Edit Order</a>               
                    <a (click)="delete(order.id, i)" class="text-decoration-none text-decoration-underline text-danger" style="cursor: pointer;">
                      Delete Order</a>

                  </div>
             
                </div>
                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                <div class="row d-flex align-items-center">
                  <div class="col-md-2">
                    <p class="text-muted mb-0 small">Track Order</p>
                  </div>
                  <div class="col-md-10">
                    <div class="progress" style="height: 6px; border-radius: 16px;">
                      <div class="progress-bar" role="progressbar"
                        style="width: 65%; border-radius: 16px; background-color: #0b0b58;" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-flex justify-content-around mb-1">
                      <p class="text-muted mt-1 mb-0 small ms-xl-5">In Process</p>
                      <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          

            <div class="d-flex justify-content-between pt-2">
              <p class="fw-bold mb-0">Order Details</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span>{{amountForLatestOrder}} EGP</p>
            </div>

            <div class="d-flex justify-content-between pt-2">
              <p class="text-muted mb-0">Invoice Number : {{invoiceNumber}}</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> {{discountForLatestOrder}} EGP</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="text-muted mb-0">Invoice Date : {{ created_at | date }}</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p>
            </div>

         
          </div>
          <div class="card-footer border-0 px-4 py-5"
            style="background-color: #fd7e14; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
              paid: <span class="h2 mb-0 ms-2">{{amountForLatestOrder}} EGP</span></h5>
         
              <svg style="cursor: pointer;float:right; margin-top:20px"  (click)="callPayment()" xmlns="http://www.w3.org/2000/svg" width="40" height="30" fill="orange" class="bi bi-credit-card" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
              </svg>
            </div>
       
        </div>
      </div>
    </div>
  </div>
</section>




<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5">
              <h5 class="text-muted mb-0 fs-5">Your previous orders</h5>
            </div>
            <div class="card-body p-4">
              <div class="card shadow-0 border mb-4" *ngFor="let order of Orders.data " >
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="{{imagePaths[order.service_type]}}{{order.service_thumbnail}}"
                        class="img-fluid" alt="">
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0">{{order.service_name}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Qty: {{order.quantity}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">{{order.amount}} EGP</p>

                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0">{{ order.created_at | date:'medium' }}</p>
                    </div>
                  </div>
                  <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                  <div class="row d-flex align-items-center">
                    <div class="col-md-2">
                      <p class="text-muted mb-0 small">Track Order</p>
                    </div>
                    <div class="col-md-10">
                      <div class="progress" style="height: 6px; border-radius: 16px;">
                        <div class="progress-bar" role="progressbar"
                          style="width: 100%; border-radius: 16px; background-color: #a8729a;" 
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="d-flex justify-content-around mb-1">
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">In Process</p>
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <button
                      class="page-link"
                      aria-label="Previous"
                      (click)="onPageChange(currentPage - 1)"
                      [disabled]="currentPage === 1"
                    >
                      <span aria-hidden="true">&laquo;</span>
                    </button>
                  </li>
                  <li
                    class="page-item"
                    *ngFor="let button of pageButtons"
                    [class.active]="button === currentPage"
                  >
                    <button class="page-link" (click)="onPageChange(button)">
                      <span aria-hidden="true">{{ button }}</span>
                    </button>
                  </li>
              
                  <li class="page-item">
                    <button
                      class="page-link"
                      aria-label="Next"
                      (click)="onPageChange(currentPage + 1)"
                      [disabled]="currentPage === Orders.last_page"
                    >
                      <span aria-hidden="true">&raquo;</span>
                    </button>
                  </li>
                </ul>
              </nav>
              
              

            </div>   
          </div>
        </div>
      </div>
    </div>
  </section>