<app-main-search ></app-main-search>
<div class="main-part">
  <div class="row  d-flex rounded  h-25 justify-content-center" style="background-color: #fd7e14 !important;">
      <div class="text-center d-flex  ">
       <div class="form-container  col-12  d-flex " style="padding: 30px;">
         <form class="w-100  ">
           <div class="row justify-content-center align-items-center">
               <div class="col-md-3 ">
                   <div class="input-group">
                     <span class="input-group-text" style="background-color: #0b0b58; color: white;">Start Date</span>
                     <input
                       type="date"
                       class="form-control"
                       placeholder="Select Date"
                       (input)="getStartDate($event)" 
                       
                     />
                   </div>
                 </div>
                 
             <div class="col-md-3 p-2">
               <div class="input-group">
                 <span class="input-group-text" id="basic-addon1" style="background-color: #0b0b58; color: white;">
                   End Date
                 </span>
                 <input
                   type="date"
                   class="form-control"
                   placeholder="End Date"
                   (input)="getEndDate($event)"
                 />
               </div>
             </div>
     
             <div class="col-md-3 p-2">
               <div class="input-group">
                   <span class="input-group-text" id="basic-addon1" style="background-color: #0b0b58; color: white;">
                    Slots
                   </span>
               <input type="text" [(ngModel)]="timeSlot"  class="form-control" name="timeSlot">
           </div>  
           </div>
     
             <div class="col-md-1 p-2">
               <button class="btn btn-success btn-block " style="background-color: #0b0b58; border-color: #0b0b58;" (click)="search()">Search</button>
             </div>
           </div>
         </form>
       </div>
       </div>
     </div>
     <div class="row pt-5 ">
      <div class="col text-center py-4">
          <p class="lead fs-3 fw-bold " style="text-transform: capitalize; color: #0b0b58;">The best offers with Restaurants</p>
      </div>
    </div>

  <section class="unique-feature-area section-gap " style=" margin-left: 0px !important;" id="unique">
    <div class="container">
      <div class="row  d-flex justify-content-center">
        <div class="menu-content pb-60 col-lg-10 mt-4">
       
        </div>
      </div>						
      <div class="row">
        <div class="col-lg-3 col-md-6 " *ngFor="let item of Restaurents">
          <div class="single-unique-product " style="border:3px solid #fd7e14;">
            <!-- <app-item [item]="item"></app-item>  -->

            <img class="img-fluid " src="{{ imagePath }}{{ item.thumbnail }}" alt="">
            <div class="desc my-3">
              <h4>
                {{item.name}}
              </h4>
              <h6 class="my-2">EGP{{item.cost}}</h6>
              <a class="text-uppercase primary-btn mb-3" style="background-color: #fd7e14; " (click)="redirectTo(item, 1,'Restaurant',time_slot)"
              >Reserve Now</a>
            </div>
          </div>
        </div>
    
 
																	
      </div>
    </div>	
  </section>
  <div class="text-center" >
    <nav aria-label="Page navigation example d-flex align-items-center justify-content-center  ">
      <ul class="pagination "style="margin: auto;justify-content: center;">
        <li class="page-item ">
          <button
            class="page-link p-2"
            aria-label="Previous"
            (click)="onPageChange(currentPage - 1)"
            [disabled]="currentPage === 1"
          >
            <span aria-hidden="true">&laquo;</span>
          </button>
        </li>
        <li
          class="page-item"
          *ngFor="let button of pageButtons"
          [class.active]="button === currentPage"
        >
          <button class="page-link" (click)="onPageChange(button)">
            <span aria-hidden="true">{{ button }}</span>
          </button>
        </li>
    
        <li class="page-item">
          <button
            class="page-link  p-2"
            aria-label="Next"
            (click)="onPageChange(currentPage + 1)"
            [disabled]="currentPage === Restaurents.last_page"
          >
            <span aria-hidden="true">&raquo;</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
