<app-main-search></app-main-search>
<div class="card mb-5" style="max-width: 840px;">
    <div class="row g-0 ">
        <div *ngFor="let item of Restaurents" class="col-md-12">
            <div class="row g-0 ">
                <div class="col-md-4">
                    <img src="{{ imagePath }}{{ item.thumbnail }}" class="m-3  img-fluid rounded-start" alt="..."/>
                </div>
                <div class="col-md-8 p-4">
                    <app-item [item]="item"></app-item>
                </div>
                <div class="card-body">
                    <button class="btn btn-primary" (click)="redirectTo(item, 1,'Restaurant')">
                      add to cart
                    </button>
                  </div>
                <hr>
            </div>
        </div>
