<main role="main" class="container mt-5">
    <div class="row">
      
      <div class="col-md-6">
        <img  src="{{destinationsImagePath}}{{detailsdata.thumbnail}}" class="img-fluid" >
  
      </div>
      <div class="col-md-6">
        <h2>{{detailsdata.name}}</h2>
        <p>{{detailsdata.description}} </p>
  
        <p class="fw-bold"  *ngIf=" detailsdata.type!='Destination'">Price: EGP{{detailsdata.cost ?? '-'}}</p>
        <h3 class="fw-bold" *ngIf=" detailsdata.type!='Destination'">Location: {{detailsdata.street}} {{detailsdata.government}}</h3>
  
        <h3 class="fw-bold">Contact</h3>
        <span class="fw-bold">Email: info.com</span> ||
        <span class="fw-bold">phone: 123-456-7890</span>
      </div>
    </div>
    <br>
    <br>

    <!--  *ngIf="detailsdata.type=='Destination'"  [hidden]="!isDestination" -->
    <!-- <div class="" > -->
    
    <div class="row" *ngIf="isDestination " >
      <div class="col-md-3 card mb-4 box-shadow">
        <img  src="{{destinationsPath}}{{detailsdata.images[0].image}}" style="height: 100%;" class="img-fluid" >
      </div>
      <div class="col-md-3 card mb-4 box-shadow ">
        <img src="{{destinationsPath}}{{detailsdata.images[1].image}}" style="height: 100%;" class="img-fluid" >
      </div>
      <div class="col-md-3 card mb-4 box-shadow">
        <img src="{{destinationsPath}}{{detailsdata.images[2].image}}" style="height: 100%;" class="img-fluid" >
      </div>
    </div>
  
  <!-- </div> -->
    
  </main>
  
  <!--
  <input type="text" #address placeholder="Enter address">
   <button (click)="searchAddress(address.value)">Search</button>
  <div id="map"></div>
  -->
  
  <section style="background-color: #f7f6f6;">
    <div class=" my-5 py-5 text-dark">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="text-dark mb-0">{{postedComment.length}} comments </h4>
            <app-review-stars [rating]="detailsdata.rating" (rated)="onRatingChange($event)"></app-review-stars>
  
          </div>
  
          <ng-container *ngFor="let review of postedComment">
            <div class="card mb-3">
              <div class="card-body">
                <div class="d-flex flex-start">
                  <img class="rounded-circle shadow-1-strong me-3"
                    src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="avatar" width="40" height="40" />
                  <div class="w-100">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h6 class="text-primary fw-bold mb-0">
                        {{review.user.name}}
                        <span class="text-dark ms-2">{{review.review}}</span>
                      </h6>
                      <p class="mb-0">{{review.created_at | date: 'medium'}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
  
  
          <div class="card py-3 border-0" style="background-color: #f8f9fa;">
            <div class="d-flex flex-start w-100">
              <img class="rounded-circle shadow-1-strong me-3" src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
                alt="avatar" width="40" height="40" />
              <div class="form-outline w-100">
                <textarea class="form-control" id="textAreaExample" rows="4" style="background: #fff;"
                  [(ngModel)]="comment"></textarea>
                <label class="form-label" for="textAreaExample">Message</label>
              </div>
            </div>
            <div class="float-end mt-2 pt-1">
              <button type="button" class="btn btn-primary btn-sm" (click)="sendReview()">Post comment</button>
              <!-- <button id="myButton">Click</button> -->
              <!-- <button (click)="calltestapi()">test api token</button> -->
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>