.headerdiscov{
    height:500px;
    background-image:url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/d7/1b/2e/caption.jpg?w=1200&h=-1&s=1&cx=960&cy=400&chk=v1_353e3f160b1344a3b01f 1x,https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/d7/1b/2e/caption.jpg?w=2000&h=-1&s=1&cx=960&cy=400&chk=v1_353e3f160b1344a3b01f 2x");
    background-size: cover;
}


