.headerdiscov{
    height:500px;
    color: white;
    background-size: cover;
}


.background{
        background-image:url('../../../assets/pexels-diego-f-parra-15188093.jpg') ;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -200px;
        

}