<div class="container text-center">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link text-black active" routerLink="#" (click)="setSelectedItem('all')">Search All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" routerLink="/destinations" routerLinkActive="active" (click)="setSelectedItem('destinations')"> Destination</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" routerLink="/trips" routerLinkActive="active"  (click)="setSelectedItem('trips')">Trips</a>
    </li>
    <li class="nav-item">                        
      <a class="nav-link text-black" routerLink="/restaurents" routerLinkActive="active"  (click)="setSelectedItem('restaurants')">Restaurents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" routerLink="/hotels" routerLinkActive="active"  (click)="setSelectedItem('hotels')">Hotels</a>
    </li>
  </ul>
  <form class="d-flex justify-content-center" role="search" enctype="multipart/form-data" (ngSubmit)="search()">
    <div class="input-group mb-3 w-50 ">
      <span class="input-group-text" id="basic-addon1">
        <fa-icon [icon]="faSearch"></fa-icon>
      </span>
      <input
        type="text"
        class="form-control py-3"
        placeholder="Search"
        (input)="getProductSearch($event,selectedNavItem)"
      />
    </div>
  </form>
</div>
