<div class="container text-center">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link text-black active" routerLink="#">Search All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" routerLink="">Destination</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" routerLink="#">Trips</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" routerLink="restaurents">Restaurents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" routerLink="hotels">Hotels</a>
    </li>
  </ul>
  <form class="d-flex justify-content-center" role="search">
    <div class="input-group mb-3 w-50 ">
      <span class="input-group-text" id="basic-addon1">
        <fa-icon [icon]="faSearch"></fa-icon>
      </span>
      <input
        type="text"
        class="form-control py-3"
        placeholder="Search"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
  </form>
</div>
